# _Basic Data Structure in Python_
##### 1- Tuple
##### 2- List
##### 3- Dictionaries
##### 4- Set

### 1- Tuple
- ordered collection of elements
- enclosed in () round braces/paranthesis
- Different kind of elements can be stored
- once elements are stored you can not changed them (unmutatable)

In [4]:
tup1 = (1, "python", True, 2.8)
tup1
# type of tuple 
type(tup1)

True

#### - indexing in tuple

In [21]:

# tup1[0]
# tup1[1]
# tup1[2]
# tup1[3]

# last element is exclusive
tup1[0:4]

(1, 'python', True, 2.8)

In [22]:
# count of elements in tuple
len(tup1)

4

In [23]:
tup2 = (2, "Akif", 3.9, False)
tup2

(2, 'Akif', 3.9, False)

In [29]:
# concatinate (add tow tuple or >2) 
tup1 + tup2

(1, 'python', True, 2.8, 2, 'Akif', 3.9, False)

In [30]:
# concatinate + repeat
tup1*4 +tup2*2

(1,
 'python',
 True,
 2.8,
 1,
 'python',
 True,
 2.8,
 1,
 'python',
 True,
 2.8,
 1,
 'python',
 True,
 2.8,
 2,
 'Akif',
 3.9,
 False,
 2,
 'Akif',
 3.9,
 False)

In [31]:
tup3 = (10,20,40,50,70,80)
tup3

(10, 20, 40, 50, 70, 80)

In [33]:
# we can define minimum and maximum value
min(tup3)
max(tup3)

80

In [34]:
tup3*2

(10, 20, 40, 50, 70, 80, 10, 20, 40, 50, 70, 80)

## 2- List
- ordered collection of elements 
- enclosed in [] square braces/brackets
- Mutateable you can change the values

In [59]:
list1 = [2, "Akif", False]
list1

[2, 'Akif', False]

In [37]:
type(list1)

list

In [38]:
len(list1)

3

In [40]:
list1[1]

'Akif'

In [41]:
list2 = [2,5, "Akif", "codanics", 129, 22.5, False]
list2

[2, 5, 'Akif', 'codanics', 129, 22.5, False]

In [50]:
list1*2

[2, 'Akif', False, 2, 'Akif', False]

In [47]:
list1*2 + list2

[2,
 'Akif',
 False,
 2,
 'Akif',
 False,
 2,
 5,
 'Akif',
 'codanics',
 129,
 22.5,
 False]

In [60]:
list1

[2, 'Akif', False]

In [55]:
list1.reverse()
list1

[False, 'Akif', 2]

In [90]:
list1.append("codanics youtube")
list1

[2,
 'Akif',
 False,
 'codanics you tube',
 'codanics you tube',
 'codanics you tube',
 'codanics youtube']

##### Assignment 
- list.count function

In [66]:
list3 = [12,23,45,67,89,90,656,12,23,10,5,7,9]
list3

[12, 23, 45, 67, 89, 90, 656, 12, 23, 10, 5, 7, 9]

In [67]:
len(list3)

13

In [68]:
# sorting a list 
list3.sort()
list3

[5, 7, 9, 10, 12, 12, 23, 23, 45, 67, 89, 90, 656]

In [71]:
list3*1

[5, 7, 9, 10, 12, 12, 23, 23, 45, 67, 89, 90, 656]

In [74]:
lists=list1 + list2 + list3
lists

[2,
 'Akif',
 False,
 'codanics you tube',
 'codanics you tube',
 'codanics you tube',
 2,
 5,
 'Akif',
 'codanics',
 129,
 22.5,
 False,
 5,
 7,
 9,
 10,
 12,
 12,
 23,
 23,
 45,
 67,
 89,
 90,
 656]

## 3- Dicionaries
- An unordered collection of elements
- key and values 
- curly braces or bracket { }
- Mutateable/change the value

In [77]:
# food and their prices
food1 = {"samosa":30,"salad":50,"raita":20,"pakora":100,"chicken roles":60}
food1

{'samosa': 30, 'salad': 50, 'raita': 20, 'pakora': 100, 'chicken roles': 60}

In [78]:
type(food1)

dict

In [79]:
# extract data
keys1=food1.keys()
keys1

dict_keys(['samosa', 'salad', 'raita', 'pakora', 'chicken roles'])

In [80]:
values1=food1.values()
values1

dict_values([30, 50, 20, 100, 60])

In [85]:
# we can add new items 
food1["Tikki"]=10
food1

{'samosa': 30,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10}

In [86]:
# update values 
food1["samosa"]=40
food1

{'samosa': 40,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10}

In [87]:
food2={"Dates":50,"choclates":300,"Swayyan":1000}
food2

{'Dates': 50, 'choclates': 300, 'Swayyan': 1000}

In [88]:
# concatinate
food1.update(food2)

In [89]:
food1

{'samosa': 40,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10,
 'Dates': 50,
 'choclates': 300,
 'Swayyan': 1000}

## 4- Sets
- unordered and unindex
- curly braces are used { }
- No duplicates allowed

In [91]:
s1= {1,2.3,4.5,"Akif","yazman",True}
s1
# boolean operators can be not used

{1, 2.3, 4.5, 'Akif', 'yazman'}

In [102]:
s1.add("Akif1")  # duplicat run nahi ho ga 
s1

{1, 2.3, 4.5, 'Akif', 'Akif1', 'yazman'}

In [103]:
s1.remove("Akif1")
s1

{1, 2.3, 4.5, 'Akif', 'yazman'}